.sidebar {
	width: 320px;
	max-width: 90%;
	height: 100%;
	z-index: 20;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	color: var(--colors-slate0);
	background: var(--colors-amber400);
	transition: transform 0.5s;
	transform: translateX(100%);
}

.sidebar.open {
	transform: translateX(0);
}

.sidebar.open+.sidebar-overlay {
    display: block;
}

.sidebar-overlay {
	width: 100vw;
	height: 100vh;
	z-index: 19;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--colors-slate1000);
	opacity: 0.5;
}

.sidebar-menu {
	margin-top: 5rem;
}

.sidebar-menu li {
	font-size: 1.5rem;
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	color: var(--colors-slate900);
}

.sidebar-menu li:hover {
	background-color: var(--colors-amber300);
}

.sidebar-menu li:before{
  width: 0%;
  height: 0.15rem;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--colors-slate900);
  transition: 250ms;
}

.sidebar-menu li:hover:before {
	width: 100%;
}

.sidebar-open-btn {
	position: absolute;
	top: 3.15rem;
	right: 2.5rem;
	transform: translate(0, -50%);
	font-size: 1.75rem;
	cursor: pointer;
	display: inline-block;
	color: var(--colors-slate0);
}

.sidebar-close-btn {
	display: inline-block;
	font-size: 3rem;
	position: absolute;
	top: 1.1rem;
	right: 2.5rem;
	cursor: pointer;
	color: var(--colors-slate900);
}

@media (max-width: 320px) {
	.sidebar {
		padding: 1.5rem;
	}

	.sidebar-menu li {
		font-size: 1.25rem;
	}
}

@media (max-width: 800px) {
	.sidebar-close-btn {
		top: 0.25rem;
		right: 1.5rem;
	}

	.sidebar-open-btn {
		top: 2.3rem;
		right: 1.5rem;
	}
}